<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加标签</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">

            <input type="hidden" id="CourseSortParent_name" th:value='${CourseSortParent.name}'>
            <input type="hidden" id="CourseSort_parentCode" th:value='${CourseSort.parentCode}'>
            <input type="hidden" id="CourseSort_name" th:value='${CourseSort.name}'>
            <input type="hidden" id="CourseSort_csid" th:value='${CourseSort.csid}'>
            <label  class="layui-form-label">
                <span class="x-red"></span>分类名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" th:value="${CourseSort.name}" name="name" required="" lay-verify="name" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类级别</label>
            <div class="layui-input-inline">
                <select id="code" name="code" lay-filter="code"  >
                    <option value=0  th:selected="${CourseSort.parentCode}==0">一级标签</option>
                    <option value=1  th:selected="${CourseSort.parentCode}!=0">二级标签</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
        <label class="layui-form-label">父级标签</label>
        <div id="fbtdiv" class="layui-input-inline" lay-filter="fbtdiv" >
            <select id="parentCode" name="parentCode" lay-filter="parentCode"  >
                <!--                 <option value="java" th:selected="${CourseSortParent.name}!=0"> >java</option><option value="python">python</option><option value="android">android</option>-->
            </select>
        </div>
        </div>
        <div class="layui-form-item">
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                保存
            </button>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        var state =$("#CourseSort_parentCode").val();
        var  CourseSortParent_name =$("#CourseSortParent_name").val();
        if (CourseSortParent_name==null||CourseSortParent_name==""||CourseSortParent_name==undefined){
            var code=document.getElementById("code");
            var codehtml=' <option value=0 selected = "selected" >一级标签</option>\n' +
                '<option value=1 >二级标签</option>';
            code.innerHTML=codehtml;
            form.render();
        }
        if(state!=0){
            //后台获取数据，渲染select父级
            $.ajax({
                url:"/course/fuCourseSortList",
                type:"GET",
                contentType: "application/json; charset=utf-8",
                success:function(result){
                    var datas=result.datas;
                    //渲染
                    var parentCode=document.getElementById("parentCode");
                    var html="";
                    for(var i=0;i<datas.length;i++){
                        if(CourseSortParent_name==datas[i].name)
                        html+='<option selected = "selected"  value="'+datas[i].name+'">'+datas[i].name+'</option>';
                        else
                        html+='<option  value="'+datas[i].name+'">'+datas[i].name+'</option>';
                    }
                    parentCode.innerHTML=html;
                    form.render();
                }
            });
        }
        form.on('select(code)', function(data){
            //选择了二级分类
            if(data.value!=0){
                //后台获取数据，渲染select父级
                $.ajax({
                    url:"/course/fuCourseSortList",
                    type:"GET",
                    contentType: "application/json; charset=utf-8",
                    success:function(result){
                        var datas=result.datas;
                        //渲染
                        var parentCode=document.getElementById("parentCode");
                        var html="";
                        for(var i=0;i<datas.length;i++){
                            html+='<option value="'+datas[i].name+'">'+datas[i].name+'</option>';
                        }
                        parentCode.innerHTML=html;
                        form.render();
                    }
                });
            }else{
                //选择了一级分类
                var finalhtml="";
                //渲染为空
                var parentCode=document.getElementById("parentCode");
                parentCode.innerHTML=finalhtml;
                form.render();
            }
        });
        //监听提交
        form.on('submit(add)', function(data){
            var CourseSort_name=document.getElementById("CourseSort_name");
            var csid=$("#CourseSort_csid").val();
            var isUpdata=false;
            if (CourseSort_name==null||CourseSort_name==""||CourseSort_name==undefined)
               var isUpdata=true;
            $.ajax({
                url:isUpdata?'/course/sortadd':'/course/sortedit',
                method:'post',
                data:{csid:csid,
                    name:data.field.name,
                    parentCode:data.field.parentCode},
                success:function(res){
                    layer.alert("保存成功", {icon: 6},function () {
                        //关闭当前frame
                        xadmin.close();
                        // 可以对父窗口进行刷新
                        xadmin.father_reload();
                    });
                },
                error:function (data) {
                    console.log("shibai")
                }
            }) ;
            return false;
        });

    });
</script>
</body>
</html>